@import "variables";

.form-button-medium {
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-blue {
  color: white;
  background-color: map-get($colors, cblue);
}

.button-blue:hover {
  background-color: map-get($colors, cbluehover);
}

.button-blue-border {
  color: map-get($colors, cblue);
  background-color: transparent;
  border: 2px solid map-get($colors, cblue);
}

.button-blue-border:hover {
  color: white;
  background-color: map-get($colors, cbluehover);
  border: 2px solid map-get($colors, cbluehover);
}

.button-green {
  color: white;
  background-color: transparent;
  background-color: map-get($colors, cgreen);
}

.button-green:hover {
  background-color: map-get($colors, cgreenhover);
}

.button-green-border {
  color: map-get($colors, cgreen);
  background-color: transparent;
  border: 2px solid map-get($colors, cgreen);
}

.button-green-border:hover {
  color: white;
  background-color: map-get($colors, cgreenhover);
  border: 2px solid map-get($colors, cgreenhover);
}

/*.button-dark {
    color: map-get($colors, cdark);
    background-color: transparent;
    border: 3px solid map-get($colors, cdark);
}*/
.button-dark {
  color: white !important;
  background-color: map-get($colors, cdark) !important;
  border: 3px solid map-get($colors, cdark) !important;
}

.button-dark:hover {
  color: white !important;
  background-color: map-get($colors, cdark) !important;
  border: 3px solid map-get($colors, cdark) !important;
}
