@import "variables";

h1,
h2,
h3,
h4,
p {
  color: map-get($colors, cdark);
}

h1,
h2,
h3,
h4 {
  font-family: "Krub", Helvetica;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 24px !important;
}

.krub-semiBold {
  font-family: "Krub", Helvetica;
  font-weight: 600;
}

.krub-bold {
  font-family: "Krub", Helvetica;
  font-weight: 700;
}

.inter-regular {
  font-family: "Inter", Arial;
  font-weight: 400;
}

.inter-medium {
  font-family: "Inter", Arial;
  font-weight: 500;
}

.inter-semiBold {
  font-family: "Inter", Arial;
  font-weight: 600;
}

.inter-bold {
  font-family: "Inter", Arial;
  font-weight: 700;
}

.inter-extraBold {
  font-family: "Inter", Arial;
  font-weight: 800;
}
