@import "variables";

header {
  background-color: map-get($colors, cdark);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  z-index: 2;
}

.header-logo {
  max-height: 36px;
}

.header-buttons {
  font-size: 14px;
}

.hamburger-menu-button {
  height: 36px;
  width: 36px;
}

.hamburger-menu {
  background-color: map-get($colors, cdark);
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.hamburger-nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hamburger-nav:hover {
  color: rgb(237, 233, 233);
}

.hamburger-nav-green:hover {
  color: map-get($colors, cgreenhover) !important;
}

.hamburger-nav-red:hover {
  color: map-get($colors, credhover) !important;
}

.margin-top {
  margin-top: 55px;
}

.header-searchbar {
  padding-left: 30px;
  width: 100%;
  line-height: 33px;
}

#searchbar-mobile {
  height: 35px;
  font-size: 18px;
  padding-top: 2px;
}

.header-search-bar-icon {
  cursor: pointer;
}

#user-pfp {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

#header-login-button {
  height: 35px;
}

#pfp-dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  right: 16px;
  top: 50px;
}

#log-out-btn-desktop {
  width: 100%;
}

#log-out-btn-desktop:hover,
#my-profile-dropdown-menu:hover {
  background-color: rgb(230, 230, 230);
}

#divider-dropdown-menu {
  border-top: 1px solid grey !important;
}

@media only screen and (min-width: 576px) {
  .hamburger-menu {
    display: none !important;
  }
}
