@import "variables";

#date-ascending:checked + label {
  color: rgb(243, 13, 13);
}

.dropdown-sort-item {
  height: 32px;
}

.dropdown-button-custom {
  width: 160px;
  height: 32px;
}

.dropdown-sort-item-selected {
  color: map-get($colors, cbluehover);
  font-family: "Inter", Arial !important;
  font-weight: 700 !important;
}

.listing-card {
  min-height: 220px;
  width: 250px;
}

.listing-card a {
  color: map-get($colors, cdark) !important;
  text-decoration: none;
  font-size: 15px;
}

.listing-card img {
  max-height: 170px;
  max-width: 250px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 415px) {
  .listing-card {
    min-height: 100%;
    width: 100%;
  }
  .listing-card img {
    max-height: 100%;
    max-width: 100%;
  }
}
