@import "variables";

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;

  .profile-button {
    min-width: 120px;
    width: 100%;
    max-width: 200px;
  }
}

.edit-pfp {
  z-index: 2;
}

.edit-pfp-modal {
  display: none;
}

@media only screen and (max-width: 575.5px) {
  .profile-button {
    min-width: 120px;
    width: 100%;
    max-width: 200px;
  }
}
