@import "variables";

body {
  background-color: map-get($colors, cbody) !important;
  margin-top: 70px !important;
  margin-bottom: 111px !important;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  background-color: map-get($colors, cdark);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
}

.header-logo {
  max-height: 36px;
}

footer {
  color: white;
  background-color: map-get($colors, cgrey);
  font-size: 10px;
  min-height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 70px !important;
}

.form-control {
  border: 2px solid map-get($colors, cdark) !important;
  color: map-get($colors, cdark) !important;
  height: 35px;
}
