@import "variables";

body {
  background-color: map-get($colors, cbody) !important;
  margin-top: 70px !important;
  margin-bottom: 111px !important;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  color: white;
  background-color: map-get($colors, cgrey);
  font-size: 10px;
  min-height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 70px !important;
}

.form-control {
  border: 1.5px solid map-get($colors, cdark) !important;
  color: map-get($colors, cdark) !important;
}

.form-control-height {
  height: 35px;
}
